body {
    background: #fcfcfc;
    font-family: 'Libre Franklin', sans-serif;
    font-size:30px;
    color: #1c1c1e;
}

a:link {
    text-decoration: none;
    color: #1c1c1e;
}

a:visited {
    color: #1c1c1e;
}

a:hover {
    color: #91c6f7;
}

.name {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 24px;
    position: fixed;
    top: 0;
    left: 75px;
    margin: 50px;
    padding: 5px;
}

.name:hover {
    color: #1c1c1e;
}

#mono {
    width: 95px;
    height: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 25px;
}

.home {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 24px;
    position: fixed;
    top: 0;
    right: 5px;
    margin: 50px;
    padding: 5px;
}

.home:hover {
    color: #91c6f7;
}

.about {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 24px;
    position: fixed;
    top: 60px;
    right: 5px;
    margin: 50px;
    padding: 5px;
}

.about:hover {
    color: #91c6f7;
}

.work {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 24px;
    position: fixed;
    top: 120px;;
    right: 5px;
    margin: 50px;
    padding: 5px;
    color: #91c6f7;
}

.social {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -120px;
}
    
#mail {
    position: relative;
    margin: 25px;
    width: 30px;
    height: auto;
    opacity: 0.35;
    filter: alpha(opacity=50);
}

#ig {
    position: relative;
    margin: 25px;
    width: 30px;
    height: auto;
    opacity: 0.35;
    filter: alpha(opacity=50);
}

#linkedin {
    position: relative;
    margin: 25px;
    width: 30px;
    height: auto;
    opacity: 0.35;
    filter: alpha(opacity=50);
}