body {
    background: #fcfcfc;
    font-family: 'Libre Franklin', sans-serif;
    font-size:30px;
    color: #1c1c1e;
}

a:link {
    text-decoration: none;
    color: #1c1c1e;
}

a:visited {
    color: #1c1c1e;
}

a:hover {
    color: #91c6f7;
}

.name {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 65px;
    margin: 50px;
    padding: 5px;
}

.name:hover {
    color: #1c1c1e;
}

#mono {
    width: 85px;
    height: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 25px;
}

.home {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 18px;
    position: fixed;
    top: 0;
    right: 5px;
    margin: 50px;
    padding: 5px;
}

.home:hover {
    color: #91c6f7;
}

.about {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 18px;
    position: fixed;
    top: 50px;
    right: 5px;
    margin: 50px;
    padding: 5px;
    color: #91c6f7;
}

.work {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 18px;
    position: fixed;
    top: 100px;
    right: 5px;
    margin: 50px;
    padding: 5px;
}

.work:hover {
    color: #91c6f7;
}

.social {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -120px;
}

.menu {
    z-index: 50;
}
    
#mail {
    position: relative;
    margin: 25px;
    width: 30px;
    height: auto;
    opacity: 0.35;
    filter: alpha(opacity=50);
}

#ig {
    position: relative;
    margin: 25px;
    width: 30px;
    height: auto;
    opacity: 0.35;
    filter: alpha(opacity=50);
}

#linkedin {
    position: relative;
    margin: 25px;
    width: 30px;
    height: auto;
    opacity: 0.35;
    filter: alpha(opacity=50);
}

.headshot {
    z-index: -1;
    position: absolute;
    left: 23%;
    top: 25%;
    -webkit-filter: opacity(90%);
    margin: 10px;
    padding: 3px;
}

.desc {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    position: absolute;
    top: 510px;
    left: 47%;
    max-width: 450px;
    margin-right: 50px;
}

#noods {
    width: 200px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 765px;
    -webkit-transform: rotate(-90deg);
    margin: 10px;
    padding: 3px;
}

#taiyaki {
    width: 200px;
    height: auto;
    position: absolute;
    left: 30%;
    top: 690px;
    margin: 10px;
    padding: 3px;
}

.fooddesc {
    position: absolute;
    left: 27%;
    top: 1020px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    max-width: 330px;
    margin-bottom: 100px;
}