body {
    background: #fcfcfc;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #1c1c1e;
}

a:link {
    text-decoration: none;
    color: #1c1c1e;
}

a:visited {
    color: #1c1c1e;
}

a:hover {
    text-decoration: underline;
}

.more {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: white;
    margin: none;
    padding: none;
}

.xout {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    position: fixed;
    top: 0;
    right: 5px;
    margin: 25px;
    padding: 5px;
}

.xout:hover {
    cursor: pointer;
}

.barrier {
    display: none;
    width: 100%;
    height: 80px;
    background: #fcfcfc;
    top: 0;
    margin: none;
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1em;
    position: fixed;
    top: 0;
    left: 5px;
    margin: 25px;
    padding: 5px;
}

.name:hover {
    text-decoration: underline;
}

#mono {
    z-index: -10;
    width: 85px;
    height: auto;
    position: fixed;
    top: 5px;
    left: 47%;
}

.about {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1em;
    position: fixed;
    top: 0;
    right: 5px;
    margin: 25px;
    padding: 5px;
}

.about:hover {
    text-decoration: underline;
}

.work {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1em;
    position: fixed;
    top: 0;
    right: 100px;
    margin: 25px;
    padding: 5px;
}

.work:hover {
    text-decoration: underline;
}

#selected {
    text-decoration: underline;
}

.conwrapper {
    background: #fcfcfc;
    width: 100vw;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#conpreview {
    display: inline-block;
    margin: 25px;
    align-items: center;
    align-content: center;
    text-align: center;
}

#mono:hover {
    cursor: pointer;
}

.tydescription {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

#details {
    display: inline-block;
    font-family: 'Lora', serif;
    font-size: .8em;
    font-weight: 400;
    max-width: 650px;
    line-height: 1.5;
}

#topo {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 30%;
    height: auto;
}

#pigo {
   border-style: solid;
   border-width: 1px;
   border-color: black;
   width: 55%;
   height: auto;
}

#goose {
    width: 55%;
    height: auto;
}

#nj1 {
    width: 55%;
    height: auto;
}

#plant {
    width: 45%;
    height: auto;
}

#rockw1 {
    width: 55%;
    height: auto;
}

#chala1 {
    width: 55%;
    height: auto;
}

#vzteller {
    width: 55%;
    height: auto;
}

#apimov {
    width: 55%;
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#ariva {
    width: 45%;
    height: auto;
}

#cka {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 45%;
    height: auto;
}

#postcal {
    width: 30%;
    height: auto;
}

#alphabet {
    width: 30%;
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#flatiron {
    width: 30%;
    height: auto;
}

.desc {
    position: absolute;
    top: 31%;
    left: 30%;
    max-width: 370px;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    font-weight: 500;
    line-height: 1.45em;
    background-color: #fcfcfc;
}

#subtext {
    font-family: 'Lora', serif;
    font-size: 1em;
}

#profilepic {
    width: 200px;
    height: auto;
    position: fixed;
    top: 30%;
    left: 28%;
}

.linked {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: .8em;
    line-height: 4;
    max-width: none;
    position: absolute;
    top: 63%;
    right: 29%;
    background-color:#fcfcfc;
}

.copyright {
    font-size: 11px;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 15px;
}

.wavy {
    z-index: -10;
    height: 90vh;
    width: auto;
    position: fixed;
    top: -10%;
    transform: rotate(90deg);
}

.wavy2 {
    z-index: -10;
    height: 90vh;
    width: auto;
    position: fixed;
    top: 25%;
    right: 0;
    transform: rotate(90deg);
}

.scrollup {
    font-size: 2.5em;
    position: absolute;
    top: 580vh;
    left: 47vw;
    margin-bottom: 25px;
    line-height: .5;
}

.titlelinks {
    position: absolute;
    top: 240px;
    left: 40vw;
    font-family: 'Lora', serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1;
}

@media only screen and (max-width: 600px) {
    .barrier {
        z-index: 1;
        position: fixed;
        display: block;
    }
    .name{
        display: none;
    }
    .about{
        z-index: 5;
    }
    .work{
        z-index: 5;
    }
    #mono {
        z-index: 10;
        position: fixed;
        top: 5px;
        left: 5px;
    }
    .conwrapper {
        background: #fcfcfc;
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #conpreview {
        display: inline-block;
        margin: 25px;
    }
    #details {
        display: inline-block;
        font-family: 'Lora', serif;
        font-size: .8em;
        font-weight: 400;
        line-height: 1.5;
    }
    #topo {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        width: 90vw;
        height: auto;
    }
    #pigo {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        width: 90vw;
        height: auto;
    }
    #goose {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        width: 90vw;
        height: auto;
    }
    #nj1 {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        width: 90vw;
        height: auto;
    }
    #chala1 {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        width: 90vw;
        height: auto;
    }
    #vzteller {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        width: 90vw;
        height: auto;
    }
    #apimov {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        width: 90vw;
        height: auto;
    }
    #ariva {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        width: 90vw;
        height: auto;
    }
    #cka {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        width: 90vw;
        height: auto;
    }
    #alphabet {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        width: 90vw;
        height: auto;
    }
    #flatiron {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        width: 90vw;
        height: auto;
    }
    #postcal {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        width: 90vw;
        height: auto;
    }
    #rockw1 {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        width: 90vw;
        height: auto;
    }
    #plant {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        width: 90vw;
        height: auto;
    }
    .scrollup {
        font-size: 2.5em;
        position: relative;
        top: auto;
        left: auto;
        margin-bottom: 25px;
        line-height: .5;
    }
    .desc {
        position: absolute;
        top: 31%;
        left: 10%;
        max-width: 310px;
        font-family: 'Montserrat', sans-serif;
        font-size: .8em;
        font-weight: 500;
        line-height: 1.45em;
    }
    .linked {
        position: absolute;
        top: 65%;
        left: 10%;
        max-width: 130px;
        font-family: 'Montserrat', sans-serif;
        font-size: .8em;
        font-weight: 500;
        line-height: 1.45em;
    }
  }

@media only screen and (max-width: 1100px) {
    .wavy {
        display:none;
    }
    .wavy2 {
        display:none;
    }
}
