body {
    background: #fcfcfc;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #1c1c1e;
}

a:link {
    text-decoration: none;
    color: #1c1c1e;
}

a:visited {
    color: #1c1c1e;
}

a:hover {
    text-decoration: line-through;
}

.more {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.xout {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    position: fixed;
    top: 0;
    right: 5px;
    margin: 25px;
    padding: 5px;
}

.xout:hover {
    cursor: pointer;
}

.barrier {
    display: none;
    width: 100%;
    height: 80px;
    background: #fcfcfc;
    top: 0;
    margin: none;
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1em;
    position: fixed;
    top: 0;
    left: 5px;
    margin: 25px;
    padding: 5px;
}

.name:hover {
    text-decoration: line-through;
}

#mono {
    z-index: -10;
    width: 85px;
    height: auto;
    position: fixed;
    top: 5px;
    left: 47%;
}

.about {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1em;
    position: fixed;
    top: 0;
    right: 5px;
    margin: 25px;
    padding: 5px;
}

.about:hover {
    text-decoration: line-through;
}

.work {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1em;
    position: fixed;
    top: 0;
    right: 100px;
    margin: 25px;
    padding: 5px;
}

.work:hover {
    text-decoration: line-through;
}

#selected {
    text-decoration: line-through;
}

.conwrapper {
    background: #fcfcfc;
    margin-top: 5em;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#conpreview {
    display: inline-block;
    margin: 25px;
}

#conpreview:hover {
    cursor: pointer;
}

.tydescription {
    font-family: 'Lora', serif;
    font-weight: 300;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

#topo {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 350px;
    height: auto;
}

#nj1 {
    width: 700px;
    height: auto;
}

#plant {
    width: 475px;
    height: auto;
}

#rockw1 {
    width: 700px;
    height: auto;
}

#chala1 {
    width: 700px;
    height: auto;
}

#apimov {
    display: block;
    width: 700px;
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#cka {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 700px;
    height: auto;
}

#postcal {
    width: 350px;
    height: auto;
}

#alphabet {
    width: 350px;
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#flatiron {
    width: 700px;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .barrier {
        z-index: 1;
        position: fixed;
        display: block;
    }
    .name{
        display: none;
    }
    .about{
        z-index: 5;
    }
    .work{
        z-index: 5;
    }
    #mono {
        z-index: 10;
        position: fixed;
        top: 5px;
        left: 5px;
    }
    #topo {
        width: 90vw;;
        height: auto;
    }
    #nj1 {
        width: 90vw;;
        height: auto;
    }
    #chala1 {
        width: 90vw;
        height: auto;
    }
    #apimov {
        width: 90vw;;
        height: auto;
    }
    #cka {
        width: 90vw;
        height: auto;
    }
    #alphabet {
        width: 90vw;
        height: auto;
    }
    #flatiron {
        width: 90vw;
        height: auto;
    }
    #postcal {
        width: 90vw;
        height: auto;
    }
    #rockw1 {
        width: 90vw;
        height: auto;
    }
    #plant {
        width: 90vw;
        height: auto;
    }
  }